<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
      <a class="nav-item nav-link" href="#" (click)="onSelect('shopping')">Shopping List</a>

      <div class="col-xs-12 ">
        <div class="btn-group">
          <a class="btn btn-outline-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown">
            Manage Recipe
          </a>
          <div class="dropdown-menu appDropdown">
            <a class="dropdown-item" href="#">Add Recipe</a>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete Recipe</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>