<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="Recipe" routerLinkActive="active">Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="Shopping" routerLinkActive="active">Shopping List</a>
  </li>

  <li class="nav-item dropdown">
    <p appDropdown class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="" role="button">Dropdown</p>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">>Add Recipe</a>
      <a class="dropdown-item" href="#">>Remove Recipe</a>
      <a class="dropdown-item" href="#">>Edit Recipe</a>
    </div>
  </li>

</ul>

<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">


      <a class="nav-item nav-link" routerLink="Recipe" routerLinkActive="active">Recipes</a>
      <a class="nav-item nav-link" routerLink="Shopping" routerLinkActive="active">Shopping List</a>

      <div class="col-sm-8 ">
        <div class="btn-group">
          <a class="btn btn-outline-secondary dropdown-toggle " role="button" id="dropdownMenuLink" data-toggle="dropdown">
            Manage Recipe
          </a>
          <div class="dropdown-menu appDropdown ">
            <a class="dropdown-item">Add Recipe</a>
            <a class="dropdown-item">Edit Recipe</a>
            <a class="dropdown-item">Delete Recipe</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav> -->