<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">


      <a class="nav-item nav-link" routerLink="Recipe" routerLinkActive="active">Recipes</a>
      <a class="nav-item nav-link" routerLink="Shopping">Shopping List</a>

      <div class="col-sm-12 ">
        <div class="btn-group">
          <a class="btn btn-outline-secondary dropdown-toggle " role="button" id="dropdownMenuLink" data-toggle="dropdown">
            Manage Recipe
          </a>
          <div class="dropdown-menu appDropdown ">
            <a class="dropdown-item">Add Recipe</a>
            <a class="dropdown-item">Edit Recipe</a>
            <a class="dropdown-item">Delete Recipe</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>