<!-- Manage Button Row -->
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Add Recipe</a>
          <a href="#">Edit Recipe</a>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Title Image Row -->
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-respoinsive">
  </div>

  <div class="col-sm-12">
    <h6> {{passedRecipe.name}} </h6>
  </div>
</div>

<!-- Recipe picture Row -->
<div class="row">
  <div class="col-md-12">
    <img src="{{passedRecipe.imagePath}}" style="height:100px">
  </div>
</div>

<!-- Recipe Description Row -->
<div class="row">
  <div class="col-md-12">
    <p>{{passedRecipe.description}}</p>
  </div>
</div>