<div class="col-xs-6">
    <button class="btn btn-success">New Recipe</button>
</div>
<hr>
<!-- <div class="row" *ngFor="let rcp of recipes">
        <div class="card" style="width: 10rem;" >
               <img class="card-img-top" [src]="rcp.imagePath" alt="rcp.name" >
               <div class="card-body">
                  <h5 class="card-title" > {{rcp.name}} </h5>
                  <p class="card-text"> {{rcp.description}} </p>
               </div>
        </div>
        </div> -->
<div class="row " *ngFor="let rcp of recipes">
    <!-- <a href="#"> -->
    <div class="col-sm-10">
        <h5> {{rcp.name}} </h5>
        <p> {{rcp.description}} </p>
    </div>
    <div class="col-sm-2">
        <img class="float-right img-thumbnail" [src]="rcp.imagePath" alt="rcp.name">
    </div>
    <!-- </a> -->
</div>
<hr>
<app-recipe-item [recipeItem]="selectedRecipe" (onClick)="handleClick($event)"> </app-recipe-item>